<% if logged_in? %>

  <div class="row">
    <aside class="col-sm-4">
      
<%= form_with(model: @micropost, local: true) do |f| %>

        <div class="form-group">
          
<%= f.text_area :content, class: 'form-control', rows: 5 %>

        </div>
        
<%= f.submit '投稿', class: 'btn btn-primary btn-block' %>

      
<% end %>

    </aside>
    <div class="col-sm-8">
      
<%= render 'microposts/microposts', microposts: @microposts %>

    </div>
  </div>
<% else %>

<div class="main-container">
  <div class="item">
<%= link_to 'アカウント登録', signup_path, class: 'btn btn-lg btn-outline-danger ml-5 mr-5 mb-5' %>
<%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-outline-danger mb-5' %>
      <p>ゲストアカウント：guest@guest.co.jp／パスワード：guest123</p>
  </div>
</div>
   
<% end %>